<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/index.css">
    <link rel="stylesheet" href="./styles/home.css">
    <title>AssemblyDrop | Aquinos IO</title>
</head>
<body>
    <div class="app">

        <div class="header">
            <img src="./static/logo.svg" alt="logo">
            <h3>Assembly<span>Drop</span></h3>
        </div>

        <div class="client-logo">
            <img src="./static/conforama.svg" alt="client logo">
        </div>

        <div class="desc">
            <h3>Thanks for shopping with us.</h3>
            <p>You can download the assembly plan for your sofa below</p>
        </div>

        <div class="downloadcont" onclick="downloadDoc()">
            <div class="downcont">
                <img src="./static/pdfface.png" alt="">
            </div>
            <div class="downlogo">
                <img src="./static/down.svg" alt="">
            </div>
        </div>

        <div class="modelinfo">
            <h3>Milan</h3>
            <p>canapé fixe 3P</p>
        </div>

        <div class="footer">
            <p>Aquinos <span>IO</span></p>
        </div>

    </div>
    <script src="/scripts/down.js"></script>
</body>
</html>